#example {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

#example .mention-decoration{
  color: blue;
}

.RichEditor-mention-menu{
  position: absolute;
  z-index: 10;
  list-style-type: none;
  /* max-width: 200px; */
  font-size:110%;

  overflow: hidden;

  color: #575f67;
  background: #e6f3ff;
  text-decoration: none;
  padding:4px 4px;
  border-radius: 4px;
  margin: 0px 0px;
  box-sizing:border-box;
}

.RichEditor-mention-menu li{
  /* background-color: #fff; */
  /* color: #222; */
  cursor: pointer;
  padding: 2px 2px;
  border-radius: 4px;
}

.RichEditor-mention-menu li.selected {
  background-color: #575f67;
  color: #e6f3ff;
}

